.header
	background #dddddd
	position fixed
	top 0
	left 0
	right 0
	height 50px
	border-bottom 1px solid #bbb
	overflow hidden
	z-index 100
	text-align center

	h1
		text-shadow: 0 1px 0 #eee
		color: #777
		font-style italic
		font-size: 22px
		line-height 50px
		text-align center
		display inline-block

		/*position absolute
		top 0
		left 100px
		right 100px
		height 50px*/

	a
		text-shadow: 0 1px 0 #eee
		color: #777
		font-weight bold
		height 50px
		display block
		line-height 50px
		font-size 16px
		padding 0 10px
		vertical-align top
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0)

	a:hover, a:active
		background #eee

	.btn-left
		float left
		border-right 1px solid #bbb

	.btn-right
		float right
		border-left 1px solid #bbb