body, html
	height 100%
	width 100%

body, html, h1, h2, h3, h4, h5, li, ul
	margin 0
	padding 0


a
	text-decoration none

p
	color: #444;

.wrapper
	position absolute
	top 51px
	bottom 51px
	left 0
	right 0
	overflow auto

.wrapper_content
	padding 51px 0

.ui-loader
	display: none
	z-index: 9999999;
	position: fixed;
	top: 50%;
	left: 50%;
	border: 0;
	text-align center
	-webkit-border-radius: 4px
	-moz-border-radius: 4px
	border-radius: 4px

.ui-body-a
	border: 1px solid #444;
	background: #222;
	color: #fff;
	text-shadow: 0 1px 0 #111;
	font-weight: 400;

.ui-loader-verbose .ui-icon
	margin: 0 auto 10px;
	opacity: .75;
	background-color: #000;
	background-repeat no-repeat
	display: inline-block;
	margin: 0;
	width: 44px;
	height: 44px;
	padding: 1px;
	-webkit-border-radius: 36px;
	border-radius: 36px;

.ui-icon-loading
	background: url(images/ajax-loader.gif);
	background-size: 46px 46px;

.ui-loader-verbose h1
	font-size: 17px;
	margin: 0;
	text-align: center;
	font-weight normal

.ui-loader-verbose
	width: 200px;
	opacity: .88;
	box-shadow: 0 1px 1px -1px #fff;
	height: auto;
	margin-left: -110px;
	margin-top: -43px;
	padding: 10px;


.btns-center
	text-align center
	margin-top 30px
	padding-bottom 30px

.btn-block
	width 100%
	box-sizing border-box 

.btn-blue,
.btn-white
	border: 1px solid #12317F;
	
	
	background: #1A3C8F;

	-webkit-border-radius: 4px
	-moz-border-radius: 4px
	-ms-border-radius: 4px
	-o-border-radius: 4px
	border-radius: 4px

	padding: .6em 20px;
	min-width: .75em;
	cursor pointer
	color #fff
	font-size 16px
	line-height 16px

.btn-white
	color #444
	border: 1px solid #ccc;
	background: #ddd
	border-bottom-width: 2px


.btn-blue:hover, .btn-blue:active
	background #1A4990

.btn-white:hover, .btn-white:active
	background #eee









.imagen-head
	position: relative;
	overflow: hidden;
	max-height: 150px;

.imagen-head img
	width: 100%;
	left: 0;
	top: 0;

.imagen-head .titulo
	position: absolute;
	color: #fff;
	font-size: 22px;
	line-height: 28px;
	top: 10px;
	left: 40px;
	right: 40px;
	text-align: center;
	font-weight: normal;
	text-shadow: none;


.servicios-tit
	padding: 0 15px 5px;
	margin: 20px 0 0 0;
	color: #1A3C8F;
	font-weight: bold;

.servicios-tit strong
	font-size: 24px
	line-height: 26px
	font-style: italic
	font-weight: bold
	text-align center
	display block

.servicios-desc
	padding: 15px;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
	color: #444

	>strong
		display block
		padding-bottom 10px

	li
		margin-left 20px


.input_text
	display block
	position relative
	margin-top 30px

	label
		font-style italic
		font-size 18px
		line-height 20px
		color #1a3c8f
		font-weight bold


	input
		display: block
		width: 100%
		padding: 10px 14px
		font-size: 20px
		line-height: 22px
		font-style italic
		color: #3b3b3b
		background-color: #fff
		border: 1px solid #fff
		border-radius: 4px
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

	input:hover, input:active, input:focus
		outline: none

	input:focus + .line
		border-color #666

	.line
		border-bottom 1px solid #aaa
		border-left 1px solid #aaa
		border-right 1px solid #aaa
		height 5px
		position absolute
		bottom 0
		left 0
		right 0

.window
	background rgba(255,255,255,0.5)
	position fixed
	top 0
	left 0
	bottom 0
	right 0
	overflow auto
	display none
	z-index 999

	>div
		width: 92.5%;
		max-width: 500px;
		margin: 10% auto 15px;
		padding: 0;
		position: relative;
		top: -15px;
		background: none repeat scroll 0 0 #DDDDDD
		border-radius 4px
		box-shadow 0 0 30px rgba(0,0,0,0.5)

	.ui-header .ui-title
		margin-top: 12px;
		margin-left: 10%;
		margin-right: 10%;

	.ui-header .ui-title small
		color: #aaa;

	.superior
		text-align: center;
		border-bottom: 1px solid #ccc;

	.superior h1
		text-shadow: 0 1px 0 #eee;
		color: #777;
		font-style: italic;
		font-size: 22px;
		line-height: 50px;
		text-align: center;
		display: inline-block;

	.window-content
		padding 20px

.btn-close
	background transparent
	font-weight bold
	font-size 30px
	line-height 30px
	height 30px
	width 30px

	color #444
	position absolute
	top -15px
	right -15px
	border 0
	text-align center
