@import 'styl/font.styl'
@import 'styl/normalize.styl'
@import 'styl/header.styl'
@import 'styl/footer.styl'

#form_info_personal
    padding 15px

    p
        color #aaa
        font-size 18px
        font-style italic