@font-face{font-family:"MyriadPro";font-weight:normal;src:url("MyriadPro.ttf") format("opentype")}
@font-face{font-family:"MyriadPro";font-weight:bold;src:url("MyriadPro-Bold.ttf") format("opentype")}
@font-face{font-family:"MyriadPro";font-weight:bold;font-style:italic;src:url("MyriadPro-Bold_Italic.ttf") format("opentype")}
@font-face{font-family:"MyriadPro";font-style:italic;src:url("MyriadPro-Italic.ttf") format("opentype")}
body *{font-family:'MyriadPro' !important}
body,html{height:100%;width:100%}
body,html,h1,h2,h3,h4,h5,li,ul{margin:0;padding:0}
input:hover,input:active,input:focus,select:hover,select:active,select:focus,button:hover,button:active,button:focus,div:hover,div:active,div:focus,a:hover,a:active,a:focus{outline:none}
a{text-decoration:none;-webkit-tap-highlight-color:rgba(255,255,255,0)}
p{color:#444}
.wrapper{position:absolute;top:51px;bottom:51px;left:0;right:0;overflow:auto;background:#fff}
.wrapper_content{background:#fff;padding:51px 0}
.ui-loader{display:none;z-index:9999999;position:fixed;top:50%;left:50%;border:0;text-align:center;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.ui-body-a{border:1px solid #444;background:#222;color:#fff;text-shadow:0 1px 0 #111;font-weight:400}
.ui-loader-verbose .ui-icon{margin:0 auto 10px;opacity:.75;background-color:#000;background-repeat:no-repeat;display:inline-block;margin:0;width:44px;height:44px;padding:1px;-webkit-border-radius:36px;border-radius:36px}
.ui-icon-loading{background:url("images/ajax-loader.gif");background-size:46px 46px}
.ui-loader-verbose h1{font-size:17px;margin:0;text-align:center;font-weight:normal}
.ui-loader-verbose{width:200px;opacity:.88;box-shadow:0 1px 1px -1px #fff;height:auto;margin-left:-110px;margin-top:-43px;padding:10px}
.btns-center{text-align:center;margin-top:30px;padding-bottom:30px}
.btn-block{width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.btn-blue,.btn-white{border:1px solid #12317f;background:#1a3c8f;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;padding:.6em 20px;min-width:.75em;cursor:pointer;color:#fff;font-size:16px;line-height:16px}
.btn-white{color:#444;border:1px solid #ccc;background:#ddd;border-bottom-width:2px}
.btn-blue:hover,.btn-blue:active{background:#1a4990}
.btn-white:hover,.btn-white:active{background:#eee}
.btn-google{background:#dd4b39;border:1px solid rgba(0,0,0,0.2)}
.btn-google:hover,.btn-google:active,.btn-google:focus{background:rgba(221,75,57,0.9);border:1px solid rgba(0,0,0,0.2)}
.btn-facebook{background:#3b5998;border:1px solid rgba(0,0,0,0.2)}
.btn-facebook:hover,.btn-facebook:active,.btn-facebook:focus{background:rgba(59,89,152,0.9);border:1px solid rgba(0,0,0,0.2)}
.btn-twitter{background:#00aced;border:1px solid rgba(0,0,0,0.2)}
.btn-twitter:hover,.btn-twitter:active,.btn-twitter:focus{background:rgba(0,172,237,0.9);border:1px solid rgba(0,0,0,0.2)}
.btn-linkedin{background:#007bb6;border:1px solid rgba(0,0,0,0.2)}
.btn-linkedin:hover,.btn-linkedin:active,.btn-linkedin:focus{background:rgba(0,123,182,0.9);border:1px solid rgba(0,0,0,0.2)}
.btn-block{text-align:left;max-width:300px;margin:0 auto 10px auto;display:block;}
.btn-block img{vertical-align:middle;padding-right:10px;margin-right:10px;border-right:1px solid rgba(0,0,0,0.1)}
.btn-block span{font-size:18px;line-height:32px;font-family:Arial !important}
#window_compartir .window-content{text-align:center}
.imagen-head{position:relative;overflow:hidden;max-height:150px}
.imagen-head img{width:100%;left:0;top:0}
.imagen-head .titulo{position:absolute;color:#fff;color:#1a3c8f;font-size:26px;line-height:30px;top:22px;left:40px;right:40px;margin:0;text-align:center;font-weight:normal;font-style:italic;text-shadow:0 1px 4px #eee}
.servicios-tit{padding:0 15px 5px;margin:20px 0 0 0;color:#1a3c8f;font-weight:bold}
.servicios-tit strong{font-size:24px;line-height:26px;font-style:italic;font-weight:bold;text-align:center;display:block}
.servicios-desc{padding:15px;font-size:16px;line-height:20px;margin:0;color:#444;text-align:justify;}
.servicios-desc >strong{display:block;padding-bottom:10px}
.servicios-desc li{margin-left:20px}
.input_checkbox{display:block;position:relative;margin-top:10px;overflow:hidden;padding:0;}
.input_checkbox label{font-size:20px;line-height:22px;font-style:italic;display:block;padding:10px 15px}
.input_checkbox input{position:absolute;right:10px;top:50%;margin-top:-10px;height:20px;width:20px}
.input_checkbox.checked{background:#fff}
.input_text{display:block;position:relative;margin-top:30px;}
.input_text small{font-size:15px;line-height:16px;color:#666;font-weight:normal;font-style:italic;display:inline-block;padding:0 0 0 10px}
.input_text label,.input_text span{font-style:italic;font-size:20px;line-height:22px;color:#1a3c8f;font-weight:bold}
.input_text input,.input_text textarea,.input_text select{display:block;width:100%;padding:10px 14px;font-size:20px;line-height:22px;font-style:italic;color:#3b3b3b;background-color:#fff;border:1px solid #fff;border-radius:4px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.input_text select{border:1px solid #eee}
.input_text input[type="range"]{background:transparent;width:80%}
.input_text .txt-range{position:absolute;width:20%;text-align:center;right:0;bottom:0;font-size:30px;line-height:44px}
.input_text input:focus + .line{border-color:#666}
.input_text .line{border-bottom:1px solid #aaa;border-left:1px solid #aaa;border-right:1px solid #aaa;height:5px;position:absolute;bottom:0;left:0;right:0}
.window{-webkit-transform:translate3d(0,0,0);background:#444;background:rgba(0,0,0,0.8);position:fixed;top:0;left:0;bottom:0;right:0;overflow:auto;display:none;z-index:999;}
.window .window-container >div{width:92.5%;max-width:500px;margin:10% auto 15px;padding:0;position:relative;top:-15px;background:none repeat scroll 0 0 #ddd;border-radius:4px;box-shadow:0 0 30px rgba(0,0,0,0.5)}
.window .ui-header .ui-title{margin-top:12px;margin-left:10%;margin-right:10%}
.window .ui-header .ui-title small{color:#aaa}
.window .superior{text-align:center;border-bottom:1px solid #ccc;}
.window .superior h1{text-shadow:0 1px 0 #eee;color:#777;font-style:italic;font-size:22px;line-height:50px;text-align:center;display:inline-block}
.window .superior a{text-shadow:0 1px 0 #eee;color:#777;font-weight:bold;height:50px;display:block;line-height:50px;font-size:16px;padding:0 10px;vertical-align:top}
.window .superior a:hover,.window .superior a:active{background:#eee}
.window .superior .btn-left{float:left;border-right:1px solid #bbb}
.window .superior .btn-right{float:right;border-left:1px solid #bbb}
.window .window-content{padding:20px}
.btn-close{background:transparent;font-weight:bold;font-size:30px;line-height:30px;height:30px;width:30px;color:#444;position:absolute;top:-15px;right:-15px;border:0;text-align:center}
.icon-internet{display:none;opacity:0;bottom:10px;right:10px;width:20px;height:20px;position:absolute}
.no-internet{-webkit-tap-highlight-color:rgba(255,255,255,0)}
.no-internet .icon-internet{display:block;opacity:1}
.header{background:#ddd;position:fixed;top:0;left:0;right:0;height:50px;border-bottom:1px solid #bbb;overflow:hidden;z-index:100;text-align:center;}
.header h1{text-shadow:0 1px 0 #eee;color:#777;font-style:italic;font-size:22px;line-height:50px;text-align:center;display:inline-block;}
.header a{text-shadow:0 1px 0 #eee;color:#777;font-weight:bold;height:50px;display:block;line-height:50px;font-size:16px;padding:0 10px;vertical-align:top;-webkit-tap-highlight-color:rgba(255,255,255,0)}
.header a:hover,.header a:active{background:#eee}
.header .btn-left{float:left;border-right:1px solid #bbb}
.header .btn-right{float:right;border-left:1px solid #bbb}
.footer{background:#1a3c8f;border-top:1px solid #12317f;position:fixed;z-index:100;width:100%;left:0;bottom:0;height:50px;}
.footer >div{height:100%}
.footer a{display:block;width:25%;height:100%;border:1px solid #12317f;border-width:1px 1px 0;-webkit-tap-highlight-color:rgba(255,255,255,0);text-align:center;float:left;position:relative;text-decoration:none;text-shadow:none;box-shadow:none;vertical-align:top;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.footer a span{display:inline-block;margin-top:10px;background:transparent url("../img/sprite.png") no-repeat 0 0}
.footer #flink-puntos span{background-position:-1px -1px;width:17px;height:25px}
.footer #flink-portafolio span{background-position:-21px -2px;width:23px;height:26px}
.footer #flink-asesoria span{background-position:-47px -3px;width:28px;height:25px}
.footer #flink-finanzas span{background-position:-77px -3px;width:22px;height:26px}
.footer a:hover,.footer a:active{background:#1a4990;-webkit-tap-highlight-color:rgba(255,255,255,0)}
label{-webkit-tap-highlight-color:rgba(255,255,255,0)}
#inicio_finanzas{padding-bottom:70px;}
#inicio_finanzas .fecha-hoy{font-size:25px;line-height:30px;padding:0;margin:0;color:#444;font-style:italic;font-weight:bold;text-align:center}
#inicio_finanzas .imagen-head{max-height:none;}
#inicio_finanzas .imagen-head .balance{color:#fff;font-size:18px;line-height:22px;padding:30px;text-align:center;font-style:italic;}
#inicio_finanzas .imagen-head .balance p{padding:8px 0}
#inicio_finanzas .imagen-head label{display:block;text-shadow:0 0 4px #ccc;color:#444}
#inicio_finanzas .imagen-head p{color:#000;margin:0;padding:5px 0;font-size:45px;line-height:40px;font-weight:bold}
#inicio_finanzas .subtitulo{font-size:20px;line-height:22px;color:#888;text-align:center;font-weight:bold;font-style:italic;padding:20px 0 0 0;margin:0;}
#inicio_finanzas .subtitulo .meses{background:#1a3c8f;padding:5px 20px;border:1px solid #12317f;border-radius:2px;color:#fff;font-size:20px;line-height:20px;font-style:italic;height:36px;min-width:200px}
#inicio_finanzas .entradas-fechas{padding:0;}
#inicio_finanzas .entradas-fechas .titulo-bg{margin:0}
#inicio_finanzas .entradas-fechas label{font-size:16px;line-height:16px;color:#888}
#inicio_finanzas .entradas-fechas div.ui-input-text{padding:5px 0;margin:0;margin-right:10px;display:inline-block;}
#inicio_finanzas .entradas-fechas div.ui-input-text input{width:100%;color:#eee;background:#444;border:1px solid #333;border-bottom-width:2px;border-radius:4px;padding:5px 0;font-size:16px}
#inicio_finanzas .entrada-finanzas{padding:10px;border-bottom:1px solid #b1d4f5;background:#deeefc;}
#inicio_finanzas .entrada-finanzas .fecha{display:block;font-size:14px;line-height:14px;word-wrap:break-word}
#inicio_finanzas .entrada-finanzas .valor{display:block;font-size:25px;line-height:30px;font-weight:bold;font-style:italic;color:#1a3c8f}
#inicio_finanzas #entradas-ingresos .entrada-finanzas{border-right:1px solid #bbb}
#inicio_finanzas #entradas-egresos .entrada-finanzas{border-left:1px solid #bbb}
#inicio_finanzas .titulo-bg{background:#eee;padding:15px;border:1px solid #bbb;border-width:1px 0;margin-top:20px;cursor:pointer;}
#inicio_finanzas .titulo-bg label{font-style:italic;font-size:19px;line-height:19px;font-weight:bold;color:#888;cursor:pointer}
#inicio_finanzas .titulo-bg button{float:right;vertical-align:top;margin:0;margin-top:-3px;font-weight:bold;font-size:20px;line-height:19px;background:transparent;border:0;color:#888}
#inicio_finanzas .titulo-bg:hover,#inicio_finanzas .titulo-bg:active{background:#f4f4f4}
#inicio_finanzas .btn-agregar-egreso{border-left:1px solid #bbb}
#inicio_finanzas .btn-agregar-ingreso{border-right:1px solid #bbb}
.ui-grid-a{overflow:hidden}
.ui-grid-a .ui-block-a{clear:left}
.ui-block-a,.ui-block-b{margin:0;padding:0;border:0;float:left;min-height:1px;width:48%;webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.ui-block-b{float:right}
