@import 'styl/font.styl'
@import 'styl/normalize.styl'
@import 'styl/header.styl'
@import 'styl/footer.styl'

#inicio
    bottom 0

    .imagen_inicio
        width: 100%;
        position: relative;
        z-index: 10;

    .contenedor-inicio
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height:  100%;
        overflow: hidden;


    .navegacion
        position:  absolute;
        bottom: 0;
        height: 50%;
        left: 0;
        width: 100%;
        overflow: hidden;
        z-index: 12;

        a:hover,
        a:active
            background: #1A4990;

        a
            display: block;
            width: 50%;
            height: 50%;
            background: #1A3C8F;
            color: #efefef;
            border: 1px solid #12317F;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            float: left;
            position: relative;
            text-decoration: none;
            text-shadow: none;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            span
                width: 50px;
                height: 50px;
                margin: 18px auto 0 auto;
                background: transparent url('../img/sprite.png') no-repeat 0 0;
                display:  block;
                padding-top: 5px;

            label
                margin: 0 auto;
                width: 60%;
                font-size: 17px;
                line-height: 18px;
                font-weight: normal;
                font-style: italic
                display:  block;
                padding-top: 5px;

        #link-puntos span
            background-position: 0 -30px;
            width: 22px;
            height: 34px;

        #link-portafolio span
            background-position: -21px -31px;
            width: 29px;
            height: 28px;

        #link-asesoria span
            background-position: -50px -32px;
            width: 35px;
            height: 28px;

        #link-finanzas span
            background-position: -85px -32px;
            width: 26px;
            height: 34px;