@import 'styl/font.styl'
@import 'styl/normalize.styl'
@import 'styl/header.styl'
@import 'styl/footer.styl'


.ui-content-portafolio
    .servicios-tit
        padding: 0 15px 5px;
        margin: 15px 0;

.lista-portafolio
    margin: 0;

    h2
        color: #1A3C8F;
        margin: 0;
        font-style italic
        font-size 22px

    p
        color: #aaa;
        margin-top: 5px;
        font-size: 18px;

    li
        background: linear-gradient(#FFFFFF, #F1F1F1) repeat scroll 0 0 #EEEEEE
        border: 1px solid #CCCCCC
        border-width: 1px 0
        color: #222222
        text-shadow: 0 1px 0 #FFFFFF
        display: block;
        overflow: visible;
        position: relative;
        text-align: left;
        list-style: none;
        padding: 0;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0)

        >div
            display: block;
            padding: 0;
            position: relative;
            padding-left: 15px;
            padding-top: 15px;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0)

            .btn-text
                a
                    padding-right: 40px;
                    display: block;
                    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)

                .heading
                    font-weight: 700;
                    display: block;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;

        .icon
            margin-top: -9px;
            position: absolute;
            top: 50%;
            right: 10px;
            background-position: -108px -1px;